@model IEnumerable<WatchStore.Models.MCategory>

@foreach (var item in Model)
{
    <ul>
        <li>
            <a href="~/@item.Slug"><span class="cat-thumb hidden-md hidden-sm hidden-xs"></span>@item.Name<i class="fa fa-angle-right"></i></a>
        </li>

    </ul>
}    