
<div class="feature">
    <div class="feature-group">
        <div class="feature-box watchmale">
            <div class="feature-text">
                <h2>Hoa chúc mừng</h2>
                <a href="/hoa-chuc-mung">Mua ngay</a>
            </div>

        </div>

        <div class="feature-box watchfemale">
            <div class="feature-text">
                <h2>Hoa tình yêu</h2>
                <a href="/hoa-tinh-yeu">Mua ngay</a>
            </div>
        </div>
    </div>


    <div class="feature-group">
        <div class="feature-box albertmale">
            <div class="feature-text">
                <h2>Hoa chia buồn</h2>
                <a href="/hoa-chia-buon">Mua ngay</a>
            </div>
        </div>0

        <div class="feature-box albertfemale">
            <div class="feature-text">
                <h2>Hoa khai trương</h2>
                <a href="/hoa-khai-truong">Mua ngay</a>
            </div>
        </div>
    </div>


</div>