
<div class="feature">
    <div class="feature-group">
        <div class="feature-box watchmale">
            <div class="feature-text">
                <h2>Đồng hồ nam</h2>
                <a href="/dong-ho-nam">Mua ngay</a>
            </div>

        </div>

        <div class="feature-box watchfemale">
            <div class="feature-text">
                <h2>Đồng hồ nữ</h2>
                <a href="/dong-ho-nu">Mua ngay</a>
            </div>
        </div>
    </div>


    <div class="feature-group">
        <div class="feature-box albertmale">
            <div class="feature-text">
                <h2>Phụ kiện nam</h2>
                <a href="/phu-kien-nam">Mua ngay</a>
            </div>
        </div>

        <div class="feature-box albertfemale">
            <div class="feature-text">
                <h2>Phụ kiện nữ</h2>
                <a href="/phu-kien-nu">Mua ngay</a>
            </div>
        </div>
    </div>


</div>