<section class="header-bottom-area">
    @Html.Action("SlideShow", "Module")
    @*<div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="main-slider-area">
                        <div class="slider-area">
                            <div id="wrapper">
                                <div class="slider-wrapper">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</section>