<section class="main-content-section">
    <div class="container">
        <div class="row category-child">
           
            <!-- LEFT-SIDEBAR START -->
            <div class="col-lg-12 col-xs-12">

                @Html.Action("Feature", "Module")

                @Html.Action("Sale", "Module")

                @Html.Action("ProductNew", "Module")

                @Html.Action("Sell", "Module")
            </div>
        </div>
     
    </div>
</section>